.hr-bg-light {

    background: #e5e5e5;
}

.contact-content {

    margin-top: 50px;
}

.hidden-file {

    position: absolute !important;
    opacity: 0 !important;
    bottom: 0 !important;
}

.welcome-page-wrapper {

    position: relative;
}

.welcome-slider-content {

    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-page-content {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

.m-nav-item {

    padding: 0 7px;
}

.m-nav-link,
.m-nav-link:hover {

    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 16px !important;

}

.user-nav-link,
.user-nav-link:hover {

    color: #333333;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 16px !important;
}

.active-auth-btn,
.m-active {

    transition: .2s ease-in-out;
}

.active-auth-btn:hover {

    background: #ffffff;
    border-radius: 1.8px;
    transition: .2s ease-in-out;
}

.m-active:hover {

    background: #00cccc;
    border-radius: 1.8px;
    transition: .2s ease-in-out;
}

.top-logo {

    width: 60px;
    position: relative;
    left: 40px;
    top: -5px;
    z-index: 2;
}

.top-logo-link {

    position: relative;
    margin-right: 100px;
}

.top-logo-link:before {

    content: '';
    position: absolute;
    height: 73px;
    width: 140px;
    top: -24px;
    z-index: 1;
    background: #00cccc;
    border-radius: 0 0 75px 75px;
}

.welcome-section-content {

    margin-top: 150px;
}

.welcome-section-content h2 {

    font-size: 80px;
    color: white;
    font-weight: 600;
}

.welcome-section-content p {

    font-size: 50px;
    color: white;
    font-weight: 600;
}

.welcome-search-wrapper {

    width: 100%;
    padding: 30px 0 45px 0;
    background: rgba(30, 48, 73, 0.81);
    text-align: center;
    margin-top: 30px;
}

.search-input-content {

    width: 500px;
    position: relative;
    margin: auto;
}

.search:focus,
.search {

    font-size: 20px;
    padding: 15px;
    outline: none;
    border-radius: 2px;
    border: none;
    color: rgb(51, 51, 51);
    width: 100%;

}

.search:placeholder-shown,
.search::placeholder {

    color: #bdbdbd;
}

.search-type-group {

}

.search-type-group label {

    background: rgba(51, 51, 51, 0.81);
    padding: 10px 30px;
    position: relative;
    top: 15px;
    z-index: 99;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0;
    cursor: pointer;
}

.m-l-active {

    background: #00cccc !important;
}

.search-btn {

    position: absolute;
    top: 6px;
    right: 6px;
    background: #00cccc;
    border: none;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
}

.search-btn:focus {

    border: none;
}

.search-btn img {

    transform: rotate(100deg);
}

.page-image-content {

    width: 100%;
    height: 500px;
    position: relative;
}

.about-page-image {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-page-text-content {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-block-content {

    border: 1px solid #c2c2c2;
    padding: 15px 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 #e2e2e2;
    margin-top: 15px;
}

.toggole-icon {

    color: #00cccc;
}

.reactivate-container {

    max-width: 500px;
    border: 1px solid #c6c8ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto;
    padding: 15px;
}

.reactivate-btn:hover,
.reactivate-btn {

    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: 14px;
}

.reactivate-btn-confirm {

    background: #e4e4e4;
    border-radius: 5px;
    padding: 5px 10px !important;
}

.reactivate-btn-cancel {

    background: #00cccc;
    border-radius: 5px;
    padding: 5px 10px !important;
}

.reactivate-btn-content {

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.box-shadow {

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.mobile-news-top-logo-link {

    display: none;
}

.news-img {

    width: 90px;
}

.news-top-logo-link {

    width: 200px;
}

.new-top-logo {

    width: 100%;
}

.news-section {

    border: 1px solid #e5e5e5;
    padding: 25px;
}

.news-bg-dark {

    background: #1f1f1f;
}

.news-bg-light {

    background: #fbf8f8;
}

.news-content-category-title {

    color: #00e5ee;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}

.news-content-category-title:hover {

    color: rgb(0, 175, 192);
    text-decoration: none;
    transition: .5s;
}

.news-content-header {

    border-bottom: 2px solid #e5e5e5;
    position: relative;
}

.news-content-header:before {

    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    bottom: -2px;
    left: 0;
    background: #00e5ee;
}

.form-control:focus {

    box-shadow: unset;
    border-color: #00e5ee;
}

.news-content-header:after {

    content: '';
    position: absolute;
    height: 0;
    width: 0;
    bottom: -13px;
    left: 0;
    border-color: #00e5ee transparent transparent transparent;
    border-style: solid;
    border-width: 6px
}

.news-content-news-image {

    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.news-content-news-title a {

    text-decoration: none;
}

.news-content-news-text {

    font-size: 15px;
}

.recent-news-date {

    font-size: 12px;
}

.resent-news-title {

    font-size: 13px;
}

.new-active {

    background: #00e5ee;
}

.filter-content-wrapper {

    border: 1px solid #00dfe8;
    padding: 15px;
    border-radius: 3px;
}

.announcement-content-wrapper {

    border: 1px solid #00dfe8;
    padding: 15px;
    border-radius: 3px;
}

.house-type-item {

    background: #00e5ee;
    padding: 3px 15px 3px 10px;
    color: #343a40;
    border-radius: 100px
}

.ad-actions a {

    color: #343a40;
    font-weight: 600;
}

.property-img {

    width: 100%;
    height: 200px;
    overflow: hidden;
}

.property-img img {

    width: 100%;
}

.section-padding {

    padding: 60px 0;
}

.details-box .product-img {

    position: relative
}

.details-box .price {

    position: absolute;
    top: 20px;
    right: 5px;
    background: #00bcd4;
    padding: 10px 25px;
    font-size: 20px;
    color: #fff;
    font-weight: 500
}

.details-box .ads-details-info h2 {

    font-size: 26px;
    font-weight: 700;
    line-height: 36px
}

.details-box .ads-details-info .details-meta span {

    display: inline-block;
    margin: 11px 0 16px
}

.details-box .ads-details-info .details-meta span a {

    color: #999;
    margin-right: 10px
}

.details-box .ads-details-info .details-meta span a:hover {

    color: #00bcd4
}

.details-box .ads-details-info .details-meta span a i {

    margin-right: 5px
}

.details-box .ads-details-info .title-small {

    font-size: 18px;
    font-weight: 500
}

.list-specification {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.list-specification li {
    font-size: 16px;
    width: 48%;
    box-sizing: border-box;
    float: left;
    padding: 2px;
    position: relative;
    margin-bottom: 7px;
    margin-right: 5px;
    list-style-type: none;
}

.details-box .ads-details-info .list-specification li i {

    margin-right: 2px;
    color: #00e5ee;
}

.details-box .advertisement li {

    display: inline-block;
    margin-right: 10px
}

.details-box .advertisement li i {

    margin-right: 5px;
    color: #00e5ee;
}

.details-box .advertisement li a {

    color: #484848
}

.details-box .ads-btn a {

    margin-right: 5px
}

.details-box .ads-btn a i {

    margin-right: 5px;
    color: #00e5ee;
}

.details-box .ads-btn .btn-reply {

    background: #0d79bf
}

.details-box .share span {

    float: left;
    margin-right: 12px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700
}

.details-box .social-link a {

    display: inline-block;
    color: #fff;
    margin-right: 5px;
    border-radius: 4px;
    background: #fafafa;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center
}

.details-box .social-link .twitter {

    background: #55acee
}

.details-box .social-link .facebook {

    background: #3b5998
}

.details-box .social-link .google {

    background: #dd4b39
}

.details-box .social-link .linkedin {

    background: #007bb5
}

.details-box .owl-pagination {

    position: absolute;
    width: 100%;
    left: 0;
    bottom: -65px
}

.details-box .owl-theme .owl-controls {

    display: inline-block;
    width: 100%;
    text-align: center
}

.owl-theme .owl-controls .active .item-link {

    border-bottom: 4px solid #00bcd4
}

.description-info {

    margin-top: 50px;
    background: #fff
}

.description-info .description {

    background: #fafafa;
    padding: 30px
}

.description h4 {

    font-size: 18px;
    font-weight: 700
}

.short-info {

    padding: 15px 0
}

.short-info h4 {

    font-size: 16px;
    margin-bottom: 20px
}

.short-info ul li {

    margin-bottom: 20px
}

.short-info ul li i {

    color: #00e5ee;
    font-size: 16px;
    text-decoration: none;
}

.list-room {

    margin: 0;
    padding: 0;
}

.list-room li {

    list-style-type: none;
}

.contact-request {

    padding: 6px 50px;
    color: #343a40;
    font-size: 16px;
    background: #00e5ee;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #ccc;
    cursor: pointer;
}

.product-info a:hover {

    text-decoration: none;
    color: unset;
}

.search-result {

    position: absolute;
    background: white;
    top: 59px;
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    overflow-x: hidden;
    width: 100%;
    z-index: 1;
}

.list-item {

    list-style-type: none;
    font-size: 14px;
    padding: 3px 15px;
    cursor: pointer;
    transition: .3s;
}

.list-item:hover {

    background: #00cccc;
    color: #ffffff;
    transition: .3s;
}

.search-button {

    position: absolute;
    top: 0;
    right: 0;
}

.multiple-search-form-content {

    margin-top: 15px;
}
.lhat:hover,
.lhat:focus,
.lhat{
    outline: none;
    text-decoration: none;
    color: unset;

}

.new-property-header {

    width: 100%;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
}

.new-property-header > img {
    width: 100%;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.new-property-content {
    box-shadow: 0 2px 5px -2px #929292;
    margin: 15px 0;
}

.property_filter{
    background: #00e5ee;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .3s ease;
    cursor: pointer;
}

.property_filter:hover{
    background: #02d7df;
    transition: .3s ease;
}
.property_filter:focus{
    background: #57f2f8;
}

.new-property-content:hover .new-property-header > img{
    transform: scale(1.1);
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.new-property-body {
    padding: 10px;
}

.new-property-info {

    margin: 3px 0;
}

.new-property-icon {

    font-size: 35px;
    margin-right: 5px;

}

.new-property-room-count {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-grow: 1;
}

.property-room-info {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.new-listings-text {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin: 40px 0;
}

.liteup-university {
    text-align: center;
    margin: 45px 0;
}

.liteup-university img {
    width: 100%;
}

.latest-news-title-content {
    margin-bottom: 15px;
}

.latest-news-title {
    color: #000000;
    text-decoration: underline;
    font-weight: 600;
}

.latest-news-date {
    margin: 10px;
}

.latest-news-link:hover,
.latest-news-title:hover {
    color: #000000;
}

.latest-news-link {
    color: #000000;
    text-decoration: underline;
    font-weight: 600;
}

.latest-news-content {
    margin: 15px 0;
}

.footer-section {
    background: #12171b;
    padding: 25px 0;
    margin-top: 50px;
}

.footer-logo {
    max-width: 200px;
}

.footer-logo img {
    width: 100%;
}

.footer-underlogo-text {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.footer-follow-us {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-social {
    background: #ffffff;
    display: inline-block;
    margin: 0 5px;
    padding: 1px 3px
}

.social-accounts-icons {
    margin-bottom: 5px;
}

.footer-social img {
    width: 25px;
}

.google-play-logo-content {
    width: 170px;
}

.google-play-logo-content img {
    width: 100%;
}

.footer-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-nav-item {
    padding: 3px;
}

.footer-nav-link:hover,
.footer-nav-link {
    color: #ffffff;
}

.property-place{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
}

@media (max-width: 720px) {

    .search-result {

        top: 45px;
    }

    .welcome-section-content {

        margin-top: 50px;
    }

    .welcome-section-content h2 {

        font-size: 40px;
        color: white;
        font-weight: 600;
    }

    .welcome-section-content p {

        font-size: 25px;
        color: white;
        font-weight: 600;
    }

    .search-type-group label {

        padding: 5px 15px;
        position: relative;
        top: 15px;
        z-index: 99;
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        border-radius: 0;
        cursor: pointer;
    }

    .search-type-group label {

        padding: 5px 15px;
        position: relative;
        top: 15px;
        z-index: 99;
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        border-radius: 0;
        cursor: pointer;
    }

    .search-type-group label {

        padding: 5px 15px;
        position: relative;
        top: 15px;
        z-index: 99;
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        border-radius: 0;
        cursor: pointer;
    }

    .search-input-content {

        width: 280px;
        position: relative;
        margin: auto;
    }

    .search:focus, .search {

        font-size: 17px;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        border: none;
        color: rgb(51, 51, 51);
        width: 100%;
    }

    .search-btn {

        position: absolute;
        top: 6px;
        right: 6px;
        background: #00cccc;
        border: none;
        padding: 3px 10px 7px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-btn img {

        width: 20px;
    }
}




