{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>

    <p><a href="{{ path('resend_email') }}">Click here</a> if you have not received the email from us.</p>
    <p class="is-small">If you dont see the email, please check your Spam folder</p>

    <p class="is-small">
        <a href="{{ path('fos_user_security_login') }}">Log in</a> &nbsp;·&nbsp;
        <a href="{{ path('fos_user_registration_register') }}">Register</a>
    </p>
{% endblock fos_user_content %}
