{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <h3 style="color:#ffffff;">Liteup Terms and conditions</h3>
            <div style="overflow: auto; width:100%; height:600px;">
                <p class="text-white">
                    「Liteup」登録事業者向けサービス利用規約
                    【平成30年3月20日】


                    本規約は、Liteup株式会社（以下「当社」といいます。）が運営するWEBサービスである「Liteup」（以下「本サービス」といいます。）に「登録事業者」として登録する不動産業を営む事業者および不動産を所有するオーナー向けの各種サービス（以下「登録事業者向けサービス」といいます。）をご利用いただく際の、登録事業者と当社との間の一切の関係に適用されます。当社は、登録事業者が当社所定の方法にて登録事業者向けサービスへの申込をしたことをもって、当該申込者が本規約の全ての条項に同意したものとみなします。
                    This contract will indicate the relationship between the registered business and our company as web services run
                    by Liteup. We will recognize this act of registration as an agreement of polices posed by our companies.

                    第１章　登録事業者 Condition 1: Registered Business/Company
                    第１条（登録）1. Registration
                    1. 登録事業者として登録事業者向けサービスに登録することを希望する者（以下「希望者」といいます。）は、本規約のすべての条項に同意しなければなりません。
                    Those who intend to register to this service as registered business/company must agree on all terms of
                    conditions/services.
                    2. 希望者は、当社が定める様式によって、登録申込をするものとします。なお、登録事業者としての登録は、原則として、事業所ごとにされるものとします。
                    Applicant must follow our company format upon registration. For registration as registered business/company,
                    registration must be done for each office.
                    3. 複数の事業所の登録を希望する希望者は、当社に対してその旨を通知し、別途個別契約書等によって申込をするものとします。
                    Applicant who wish to register multiple offices must inform beforehand and register in separate contract.
                    4. 希望者は、登録申込の際、真実且つ正確な情報を記入しなければなりません。また、希望者は、登録申込に際して自身に帰属する有効な電子メールアドレスを指定しなければなりません。
                    Applicant, when filling in the application, must enter accurate and truthful information. In addition, applicant
                    must indicate a valid electric mail address that pertain to him/her.
                    5. 当社は、希望者に対して、登記事項証明書、身分証明書、宅地建物取引業免許証、その他の営業許可証等のコピー等の添付書類等の提出を要求できるものとし、これに拒否した場合には、当該申込を拒否することができるものとします。
                    Our company has right to demand copy of certificate of registered matters, identification card (ID), license of
                    buildings transaction business, and other applicable documents. If the applicant refuses to submit these copies,
                    we will withdraw the registration.
                    6. 当社は、前項の申込について審査することができ、登録事業者として不適格であると当社が判断した場合、当該申込を拒絶できるものとします。なお、当社は、希望者に対して、審査基準および判断基準の開示を一切しないものとします。
                    Our company, upon inspection of previous conditions, can reject the application once we deem it unqualified.
                    Furthermore, our company will not disclose any information regarding our inspection/screening standards.
                    7. 当社は、前項の審査に合格した希望者に対して、登録申込の承諾通知を送信します。なお、同承諾通知は、第１２条の手段によってなされるものとします。
                    Our company will send notice of acceptance to those applicants who have passed the inspection/screening. Notice
                    of consent will follow steps of terms of conditions in Section 12.
                    8. 登録事業者向けサービスの利用契約（以下「本契約」という。）は、前項の承諾通知を送信した時点をもって開始されるものとします。
                    Services will commence the moment consent in previous condition has been sent.


                    第２条（アカウント等の管理） Management of Accounts
                    1. 当社は、登録申込を承認した場合、登録事業者に対してマイページを付与します。登録事業者は、マイページを介して自身に関する情報、自身が紹介等する不動産情報等を掲載、編集等することができます。
                    Our company, once registration has been approved, will attach My Page. Registered applicant will fill in
                    relevant information regarding applicant, housing agency information, and edit through MyPage.
                    2. マイページにログインするためのログインIDは、登録の際に指定した電子メールアドレスとします。登録事業者は、マイページにログインするためのパスワードを設定する際、第三者に推測されづらい文字列を指定しなければなりません。
                    Login ID for My Page will be your electronic email address on your contract. Registered applicant must create
                    password that uses set of letters and numbers that cannot be guessed by third person.
                    3.
                    登録事業者は、マイページにログインするためのログインIDおよびパスワード（以下「アカウント」といいます。）を厳重に管理しなければなりません。当社は、マイページにログインする際に入力されたアカウントと前項の登録されたアカウントとの一致をもって、当該利用が登録事業者によるものとみなします。
                    Registered applicant must strictly manage Login ID and password. Once registered account and Login ID are deemed
                    to be equivalent, our company will consider that the services are used by the applicant.
                    4.
                    登録事業者は、自身のアカウントを失念した場合、第三者に使用されていることを知った場合またはその他の事由でアカウントを再設定する必要が生じた場合、当社が定める手段によって速やかにアカウントの再設定等の手続きをするものとします。
                    If registered applicant loses account, notice that account has been used by third person, or feel the need to
                    change the account settings, he/she must follow procedures posed by our company.
                    5.
                    登録事業者は、登録事業者向けサービスに登録された自身に関する情報（以下「登録情報」といいます。）を正確且つ最新に保つ義務を負います。登録事業者は、登録情報に変更の必要が生じた場合、当社に対して、速やかにその旨および変更内容等を通知するものとします。
                    Registered applicant has obligation to manage his/her information accurately and up to date. If there is any
                    change of information regarding registration, applicant must promptly inform our company.
                    6. 前項の変更手続きが合併、分割、事業承継等によるものである場合、当社は、当該登録事業者に対して、第１条第６項の審査をすることができます。
                    If any changes made to registration are as follows: merger, division, and succession of business, our company
                    has right to perform inspection in Section 1. Condition 6.


                    第３条（権利譲渡の禁止） Prohibition of Transfer of Rights
                    1. 登録事業者は、自身のアカウントを第三者に譲渡、貸与、名義変更、販売または質入等をしてはなりません。また、登録事業者は、自身のアカウントを第三者に使用させてはなりません。
                    Registered applicant must not transfer, lend, change name, or sell his/her account to third person. In addition,
                    registered applicant must not let third person use his/her account.
                    2. 登録事業者は、登録事業者向けサービスを第三者に利用させてはなりません。また、登録事業者向けサービスを第三者のために利用する行為もしてはなりません。
                    Registered applicant must not let third person use our company’s services. In addition, applicant must not use
                    this service for third-person.
                    3. 登録事業者は、本規約に定める登録事業者の権利のすべてまたは一部を第三者に譲渡、貸与等をしてはなりません。
                    Registered applicant must not transfer or lend any authority regarding this terms of conditions to third person.
                    4. 当社は、登録事業者のアカウントの第三者使用によって当該登録事業者に生じる損害等について、一切の責任を負わないものとします。
                    Our company will take no responsibility for any loss that results from third person’s use of registered
                    applicant’s account.
                    5.
                    登録事業者は、自身のアカウントの第三者使用に起因して当社、本サービスのエンドユーザー（以下「エンドユーザー」といいます。）、他の登録事業者またはその他の第三者に損害が発生した場合、そのすべての損害を賠償する義務を負うものとします。
                    Registered applicant has obligation to pay for all the losses of our company and other registered applicants
                    that result from allowing third person to use his/her account

                    第４条（前払利用料金、利用料金）Advanced Usage fee, Usage fee
                    1. 登録事業者向けサービスの利用料金は、別途定めるとおりとします。
                    Fee of this service will determined separately.
                    2. 登録事業者は、当社に対して、本契約の申込時に「予算」として設定した金額を「前払利用料金」として当社が定める期間内に支払うものとします。
                    Registered applicant must pay budget written when registrating as advanced usage fee within specified period.


                    3. 当社は、エンドユーザーが本サービスを介して登録事業者に対して問い合わせ等をした場合、当該登録事業者の前払利用料金からその問い合わせ等に対応する利用料金を控除します。
                    Our company will deduct usage fee from advanced usage fee when end user through this service makes inquiries
                    toward registered applicant.
                    4. 当社は、登録事業者の前払利用料金の残額が当社の定める金額未満となった場合、当該登録事業者にその旨を通知するものとします。
                    Our company will notify effect that results from payment of insufficient advanced usage fee by registered
                    applicant.
                    5. 当社は、登録事業者の前払利用料金が０になった場合、第２項と同額の前払利用料金を決済します。登録事業者は、マイページより「自動決済の解除」をすることにより当社による前払利用料金の決済を拒否することができます。
                    When advanced usage fee of registered applicant becomes 0, our company will settle payment as advanced usage fee
                    written in condition 2. Registered applicant can refuse to pay advanced usage fee by turning off automatic
                    withdrawal.
                    6. 登録事業者は、前払利用料金の金額を任意で変更することができます。ただし、この場合でも、同金額変更は、自動更新時より適用されるものとします。
                    Registered applicant can arbitrarily change amount of advanced usage fee. However, this change will be applied
                    after automatic update.
                    7. 前払利用料金の支払い方法は、当社が別途定めるとおりとします。なお、同支払いに生じる銀行振込手数料は、登録事業者がこれを負担するものとします。
                    Our company will decide the method of payment of advanced usage fee. Furthermore, registered applicant must pay
                    for bank transfer charge
                    8. 当社は、登録事業者が既に支払った前払利用料金の返還等を理由の如何を問わず一切しないものとします。
                    Our company will not return paid advanced usage fee to registered applicant regardless of any reasons.
                    9. 登録事業者は、エンドユーザーからの問い合わせが誤りであった場合またはひやかし、いたずら等の目的でなされたものであった場合、当社に対してその旨を通知するものとします。
                    Registered applicant must notify our company of any false information, or mischief committed by end user.


                    10.
                    前項の通知を受領した場合、当社は、当該エンドユーザーに問い合わせ等をしたうえで事実であると確認ができた場合、登録事業者に対して、当該利用料金を返還するものとします。なお、同返還の方法は、前払利用料金残額の増額にてなされるものとします。
                    If our company confirms that end user has provided false information and committed mischief specified in
                    previous condition, we will return applicable amount of usage fee to the registered applicant. Method of return
                    will be done with increase of advanced usage fee.

                    第５条（有効期間、中途解約、更新）Validity period, mid-term cancellation, renewal
                    1. 本契約の有効期間は、登録事業者としての登録が完了した日から前払利用料金が０になり、且つ本契約が更新されなかった日までとします。
                    Validity period of this contract will start from the day registered applicant completes registration and end
                    when advanced usage fee becomes 0.
                    2. 前払利用料金が０になった場合でも、それまでの期間内に登録事業者が第４条第５項の「自動決済の解除」をしない限り、本契約は、同内容にて更新され、前払利用料金が決済されるものとします。
                    Even if advanced usage fee becomes 0, this contract will renew and withdraw advanced usage fee as long as
                    registered applicant does not turn off automatic withdrawal.
                    3. 本契約の中途での解約を希望する登録事業者は、当社が定める様式によって中途解約手続きをするものとします。
                    If registered applicant wishes to cancel this contract in midterm, he/she must follow procedure specified by our
                    company.
                    4. 当社は、中途解約手続きに起因して当該登録事業者に損害が生じた場合でも一切責任を負わないものとします。
                    Our company bears no responsibility over losses that result from midterm contract cancellation procedures.
                    5.
                    登録事業者は、中途解約手続きが完了した場合または本契約が終了した場合、自身のマイページへのアクセス権限を喪失します。当社は、本契約が終了した場合、登録事業者のマイページ上の情報、当該登録事業者に係るWEBページおよびその他当該登録事業者に係る情報およびデータを同終了時点で削除できるものとします。
                    Once registered applicant completes his/her procedure for midterm cancellation or the contract expires, he/she
                    will lose access to My Page. Our company can eliminate any information regarding registered user once contract
                    expires.

                    6. 登録事業者は、自身の行為等に起因して当社、エンドユーザー、他の登録事業者またはその他の第三者に損害が生じた場合、本契約が終了した後であっても、すべての法的責任を負うものとし、いかなる場合も当社を免責するものとします。
                    Registered applicant must pay for all the losses from his/her action to our company, end user, other registered
                    applicants, or third person even after the expiration of contract and our company will be exempt from any
                    charges.
                    7. 登録事業者は、本契約が終了した場合、当社に対する債務の全額を本契約の終了後速やかに支払う義務を負うものとします。
                    Registered applicant must pay financial debt to our company after contract expires.
                    8.
                    本契約の終了は、当該登録事業者とエンドユーザーとの間で継続中の各種契約の履行を妨げないものとします。この場合、登録事業者は、当該エンドユーザーに対して、当該エンドユーザーが申込したサービスを誠実に提供する義務を負うものとします。
                    After expiration of contract, our company will not interfere in any ongoing contract between registered
                    applicant and end user. Registered applicant is obliged to provide sincere service to end user.


                    第２章　登録事業者向けサービス Chapter 2: Services for registered applicant
                    第６条（登録事業者向けサービスの内容、利用の際の諸注意等）Content of service and various precautions upon usage
                    1. 本サービスは、エンドユーザーと登録事業者のマッチングの「場」を提供するWebサービスです。当社は、登録事業者に対して、登録事業者向けサービスを介して主に以下のサービスを提供します。
                    (1) 登録事業者ごとのマイページの提供
                    (2) 登録事業者ごとの問い合わせフォーム等の提供
                    This web service provides matching place for end user and registered applicant. Our company provides following
                    services toward registered applicant.
                    (1) Offer My Page for individual applicant
                    (2) Offer inquiry form for individual applicant
                    2. 当社は、登録事業者に対して事前に通知することなく、登録事業者向けサービスに新しいサービスを追加または本サービスの変更および削除をすることができます。
                    Our company, without informing registered applicant, has right to add, change and delete the content of the
                    service.


                    3. 登録事業者は、登録事業者向けサービスをすべて自己の責任において利用するものとします。
                    Registered applicant bears full responsibility over the provided services when using the service.
                    4. 当社は、本サイト上に登録事業者に関する情報等を掲載した場合でも、同掲載により訪問客数、売上高の増加、エンドユーザーとの間の各種契約等の締結等の結果について、いかなる保証もしないものとします。
                    Our company, even when uploading information regarding registered applicant, does not guarantee conclusion that
                    may result from visitor numbers, profit increase and contract between end users.

                    第７条（マイページの利用条件等）Terms of Use for My Page
                    1. 登録事業者は、マイページを介して自身に関する情報の編集および自身が販売、仲介等する不動産物件等の紹介ページの作成および編集等をすることができます。
                    Registered applicant, through My Page, can edit personal information, and introduction of sale and mediation of
                    real estate.
                    2. 登録事業者は、マイページを介して自身が作成、編集し、エンドユーザーに提供するすべての情報（以下「コンテンツ」といいます。）が常に真実であり、且つ、正確および最新であるように努めなければなりません。
                    Registered applicant has duty to maintain information, which was added, edited and provided to end user,
                    truthful, accurate, and up to date.
                    3.
                    登録事業者は、コンテンツに第三者の著作物、商標、肖像等を使用する場合、当該権利者より事前の使用許諾等を得なければなりません。当社は、これらの第三者に帰属する著作物等が本サービスに掲載された時点ですでに登録事業者が当該権利者よりそれらの使用につき許諾を得ているものとみなします。
                    When using third party’s production, brand, and symbols, registered applicant must acquire consent from third
                    party beforehand. Our company will assume that for all the third party resources that have been uploaded in our
                    service, registered applicant has acquired consent from third parties
                    4. 登録事業者は、自身のコンテンツについて第三者から権利侵害等についての問い合わせ、クレーム等がなされた場合、すべて自己の責任で同クレーム等に対処しなければなりません。
                    Registered applicant bears full responsibility over any copyright claims from third party.


                    5. 登録事業者は、以下に該当するコンテンツの作成、編集し、本サービス上に掲載してはなりません。
                    Registered applicant must not create, edit and upload any of following content.
                    (1) 誇大広告、不実告知、事実不告知等を含むもの
                    Bombastic advertisement, misrepresentation, and fact concealment
                    (2) 他の事業者や第三者に対する誹謗中傷、営業妨害等を含むもの
                    Any content that may harm and obstruct business of other applicant and third parties
                    (3) 第三者の著作権、商標権、肖像権等を侵害するもの
                    Any information that trespasses resources (brand, production, and symbols) of third party
                    (4) 性風俗等に関するもの、それを想起させる恐れのあるもの
                    Any information related to sexual culture or any content that allude
                    (5) 暴力的、猟奇的な表現等を含むもの
                    Any violent and grotesque content
                    (6) 第９条第１項に違反するもの
                    Any content that violates Section 9: condition 1.
                    (7) その他、不動産とは関係のないもの
                    Other content that has no connection between real estate
                    6.
                    当社は、前項に違反していると判断されるまたはエンドユーザーから指摘のあった情報を掲載した登録事業者に対して、改善指示、警告等をしたうえで当社の権限にて当該情報を掲載したページを削除することができます。なお、当社は、同指示等に従わない登録事業者または同違反行為を繰り返し行う登録事業者に対して、第１０条の処分等を課すことができます。
                    If our company detects violation of previous 7 conditions or indication from end user, we can issue instructions
                    and warnings, and can delete the web page that contains violated contents. Further, our company can
                    punish/dispose registered applicant through Section 10 if he/she refuses to follow instructions or commits act
                    of contravention.


                    第８条（エンドユーザーへの対応等）Responding to end users
                    1.
                    登録事業者は、本サービスを介してエンドユーザーより自身が紹介する不動産物件等について、問い合わせ、契約の申込等がなされた場合、同問い合わせ等に誠意を持って対応しなければなりません。また、登録事業者は、本サービスを介して問い合わせ等をしたうえで自身の店舗等に来店したエンドユーザーに対して、誠意をもってその対応をしなければなりません。
                    Registered applicant, through this service, must respond to end users with sincerity when they wish to inquire
                    or request contract. At the same, registered applicant must respond with sincerity to those end users who visit
                    his/her store.
                    2.
                    本サービスを介してエンドユーザーと登録事業者との間で不動産の売買、賃貸借、リノベーション契約またはその他の何らかの契約が締結される場合、同契約は、双方の当事者の責任および費用によって締結されるものとし、当社は、その契約について何ら責任を負わないものとします。
                    Our company bears no responsibility over any sale, rent, or renovation real estate deal that was made between
                    registered applicant and end user through this service.
                    3.
                    本サービスを介して何らかの契約等を締結したエンドユーザーと登録事業者間で何らかのトラブル、紛争等が発生した場合でも、当該問題は、すべて当事者間で解決されるべきものとし、当社は、捜査機関、裁判所等への情報の開示以外の責任を負わないものとします。
                    If there were any problem between registered applicant and end user, our company will not get involved in that
                    matter except providing information of investigating authority or court.
                    4.
                    本サービス上の自身のレビュー等のページにおいて、自身に係る営業妨害、悪い噂、その他不適切な投稿がなされた場合、登録事業者は、当社に対してその旨および該当ページを通知するものとします。当社は、調査等をしたうえで不適切な投稿であると当社が認めた場合に限り、その削除等をするものとします。
                    If registered applicant feels that there has been obstruction, misleading information, and inappropriate
                    contribution on the service web page, he/she can notify our company. We will examine the case and delete the
                    content upon approval.


                    第９条（禁止事項）Prohibited Matters
                    1. 登録事業者は、登録事業者向けサービスの利用に際して、以下の行為等をしてはなりません。
                    Through this service, registered applicant must not do following acts.

                    (1) 虚偽の申告をする行為
                    Act of reporting false statement
                    (2) 問い合わせ等をしたまたは来店したエンドユーザーに対して虚偽、不実告知、事実不告知、有利誤認等に該当する情報を提供する行為
                    Act of providing deceitful, inaccurate, misleading information and lucrative lies to end users who visit
                    applicant’s store
                    (3) 自身の店舗等に来店したエンドユーザーに対してより高額な物件、サービスの利用を強要する行為
                    Act of forcing end users to use expensive real estate services
                    (4) エンドユーザーと共謀して当社に損害を与える行為
                    Act of conspiring with end users to bring damage to our company
                    (5) エンドユーザーからの問い合わせ等、および本サービスにおける自身のレビュー等に対して不適切な表現等を用いて応答する行為
                    Act of providing inappropriate expression when end users inquire about applicant’s review
                    (6) 当社、第三者を誹謗中傷する行為
                    Act of smirching our company and third party
                    (7) 当社、第三者のプライバシー、財産等を侵害する行為
                    Act of damaging privacy and assets of our company and third party
                    (8) 当社、第三者の営業を妨害する行為
                    Act of obstructing business of our company and third party
                    (9) 当社、第三者の信用を失墜させる行為
                    Any act that may lead to loss of credence of our company and third party
                    (10) 政治結社、宗教団体、反社会的勢力、テロ組織、マルチ商法等への勧誘
                    Act of interfering with political, religious, antisocial, and multi-level marketing organization
                    (11) 法令に違反するまたは公序良俗に反する恐れのある行為
                    Any act that is considered as violation of law and public policies
                    (12) その他、消費者保護の精神と著しくかい離する一切の行為
                    Any act that involves deviation of consumer’s mentality

                    2.
                    登録事業者は、前項の違反行為等をした場合、それによって生じる損害等のすべてを賠償する義務を負うものとします。当社は、当該違反行為が悪質であると判断する場合、当該行為等をした登録事業者を告訴する等の措置を講じることができます。
                    Registered applicant has obligation to pay for all the damages caused by violating conditions mentioned above.
                    If our company deems act of violation as vicious, we can charge registered applicant for their actions.

                    第３章　全般 Chapter 3: General
                    第１０条（罰則規定）Penalty regulations
                    1.
                    当社は、以下の各号のいずれかに該当する登録事業者に対して、事前に通知することなくアカウントの一時利用停止、本サイト上での登録事業者に係る情報の公開一時停止、前払利用料金の没収または本契約の解除等の処分を課すことができます。
                    Without informing registered applicant, our company can suspend registered applicant’s account and block
                    information on web page for a short period of time or confiscate advanced usage fee and dismiss contract for
                    following reasons.
                    (1) 第７条第５項に違反するコンテンツを提供した場合で悪質な場合、当社からの改善指示等に従わない場合、または違反行為を繰り返す場合
                    Refusing to follow instruction from our company and repeating the violation stated in Section 7 condition 5.
                    (2) 第９条第１項に違反した場合
                    Violation of section 9 condition 1
                    (3) エンドユーザーからクレーム等が頻発する場合で処分相当であると当社が判断した場合
                    Frequent complaints from end users
                    (4) 登録事業者向けサービスの利用に際しての当社からの指示等に従わない場合
                    Refusing to follow instructions regarding services provided by our company
                    (5) 前払利用料金の自動決済がなされなかった場合または期限内に前払利用料金の支払いがなされなかった場合
                    When there is no automatic withdrawal for advanced usage fee or not paying advanced usage fee by deadline
                    (6) 振り出した手形の不渡り、会社更生法、民事再生法等の手続きの開始等、登録事業者の経済状態、信用状態が悪化したと判断するに足る事由が発生した場合
                    Our company considers that financial and credential condition of registered applicant have fallen when he/she is
                    undergoing Corporate Reorganization Law and Civil Rehabilitation Law procedures

                    (7) 暴力団関係者、反社会的組織等の構成員であることまたはそれらに資金提供等をしていることが明らかとなった場合
                    Registered user is part of or funding gang or antisocial organization
                    (8) その他登録事業者として不適当だと当社が判断した場合
                    Our company decides that registered applicant has committed inappropriate actions
                    2.
                    第５条第３項から第６項の規定は、本契約の解除の処分を受けた登録事業者に対する処置等に準用するものとします。ただし、当社は、本契約の解除の処分を受けた登録事業者に問い合わせ等をしていた履歴のあるエンドユーザーに対して、処分の内容およびその理由等を開示できるものとします。
                    Section 5 condition 3 – 6 regulations are meant for registered applicant who has received dismissal of contract.
                    Our company can disclose reasons of contract dismissal to those end users who have been making inquiries to
                    dismissed applicants.

                    第１１条（登録情報の取り扱い）Management of registered information
                    1. 当社は、登録事業者の登録情報を本サービスおよび登録事業者向けサービスの運営および提供の目的のみに利用するものとします。
                    Our company will only use registered applicant’s registered information to operate and provide this service.
                    2. 当社は、登録情報を第三者に開示または提供しないものとします。ただし、以下に該当する場合は、この限りではありません。
                    Our company will disclose or provide information regarding registered applicant to third party. However, we may
                    do so otherwise under following conditions.
                    (1) エンドユーザーからのクレーム等に対応するため必要な範囲内で開示する必要がある場合
                    To respond to end users’ complaints
                    (2) 登録事業者が許諾した場合
                    Our company has gained consent from registered applicant
                    (3) 登録事業者を特定できない方法にて開示・提供する場合
                    Our company discloses in a way that does not indicate registered applicant
                    (4) 法令にて開示または提供が認められる場合
                    Law allows disclosure or provision of such information.
                    (5) 公的機関等より法令に基づき開示または提供を求められた場合
                    Public institution, by legal measures, demand disclosure or provision of such information
                    (6) 本サービスの提供の目的のため本サービスの一部または全部を第三者に委託する場合
                    For provision of this service, our company may commission third party.
                    (7) 本サービスの一部または全部を第三者に譲渡する場合
                    Partial or whole service is transferred to third party.
                    (8) 合併、分割等による場合
                    Merger or Divison
                    3.
                    当社は、登録情報のうち、個人情報保護法の「個人情報」に該当する情報について、個人情報保護法に則り適切に管理および使用するものとします。ただし、当社は、個人情報の漏洩・消失または改ざん等が完全に防止されることについての保証を一切行わないものとします。
                    Regarding personal information among registered information, our company suitably manage and use by obeying Law
                    for the Protection of Computer‐Processed Personal Data Held by Administrative Organs. Our company does not
                    ensure complete prevention of leakage, dissipation and falsification of personal information.
                    4. 当社は、登録事業者に対して、収集した個人情報および嗜好情報等を利用して当社が提供する各サービスに関する案内等を送信することができ、登録事業者は、同利用に予め了承するものとします。
                    Our company can send personal information and preference information to registered applicant. We consider that
                    registered applicant has approved of such handling of information beforehand.


                    第１２条（通知手段）Method of notification
                    1. 当社から登録事業者への通知方法は、別段に定めのある場合を除き本サイト上のマイページでの掲載、当社からの電子メールの送信またはその他当社が適当と認める方法によって行われるものとします。
                    Method of contact from our company to registered user will be through notification in My Page and electronic
                    email except specific cases.
                    2. 本サイト上のマイページでの掲載にて行われる通知は、マイページ上に掲載された時点をもって完了するものとします。
                    For notification is sent through My Page, it is finished once notice is uploaded on My Page.
                    3. 当社は、本サービスの重要な情報等を送信する場合、当社からのメール通知等の受信をすべて拒否する設定をしている者を含むすべての登録事業者に対して、電子メールまたはメールマガジン等を送信できるものとします。
                    Our company, when sending important information, can send electronic email to those who even set our company as
                    one of their blocking list.
                    4. 電子メールによって行われる通知は、登録情報に登録されたメールアドレス宛への発信をもって完了するものとします。
                    When our company is notifying information through electronic email, it will be sent to the email address on
                    registered information.
                    5.
                    登録事業者は、指定したメールアドレスについて、ドメイン指定、迷惑メール対策等を設定している場合、当該メールアドレスのメール受信設定等を変更し、当社からの電子メールの受信を許可しなければなりません。当社は、登録事業者が同設定変更を行ったことに起因してメルマガの不達、遅達等が発生した場合でも、同損害に対して、一切責任を負わないものとします。
                    Registered applicant must change filter setting of email address so that email from our company is allowed into
                    registered applicant’s email. For losses resulted from such filtering, our company bears no responsibility in
                    compensation of the damage.
                    6. 当社は、第１項のいずれかの方法により登録事業者に通知を行った場合、異議申し立てがない限り、通知日をもって登録事業者が同通知の内容に同意したものとみなします。
                    Our company, when informing through method mentioned in condition 1, will assume that registered applicant has
                    agreed to notified information unless objection statement was made.
                    7. 当社は、連絡先メールアドレスの不備、誤記があったことまたは変更を怠ったこと等登録事業者の故意または過失に起因して当社からの通知が不到達となった場合、同通知について同登録事業者が異議なく同意したとみなします。
                    Our company will assume that registered applicant has agreed to terms sent for those registered applicant who
                    has neglected his/her email address change or clerical error when inputting email address.

                    第１３条（機密保持）Security protection
                    1.
                    当社は、本契約に関連して知りえた登録事業者の技術上・経営上の一切の秘密を第三者に漏洩または開示しないものとします。ただし、本サービスの提供の目的のため本サービスの一部または全部を第三者に委託する場合は、この限りではありません。
                    Our company will not disclose any technical and managerial information related to registered applicant to third
                    party at all cases. However, this is not necessarily the case when partial or whole service is commissioned to
                    the third party.
                    2. 前項但書の規定によって第三者に登録事業者の秘密を開示する場合でも、当社は、当該第三者に対して、本条の規定と同様の機密保持について、同意させるものとします。
                    When our company discloses registered applicant’s information to the third party we ensure that third party has
                    also agreed on terms of security protection mentioned in previous statement.
                    3. 登録事業者は、本契約に関連して知りえた当社の技術上・経営上の一切の秘密を第三者に漏洩または開示してはなりません。
                    Registered applicant must not disclose any technical and managerial information regarding our company to any
                    third party.
                    4. 以下に該当する情報は、本条に定める「秘密」には含まないものとします。
                    Following information is not categorized part of secure information mentioned in previous statements.
                    (1) 他の当事者から知得する以前にすでに所有していた情報
                    already owned the information before getting notice from other participant
                    (2) 他の当事者から知得する以前にすでに公知である情報
                    Already aware of the information before getting notice from other participant
                    (3) 他の当事者から知得した後に自己の責によらない事由により公知とされた情報

                    (4) 正当な権限を有する第三者から秘密保持の義務をともなわずに知得した情報
                    Information gained by third party who has considerable authority and not agreed on security terms.
                    第１４条（本規約と本規約以外の規定等との関係）Relation between content of this contract and other contracts
                    1. 当社が本サービス上において提示する利用上のガイドライン、FAQ、諸注意等（プライバシーポリシーを含みます、以下｢ガイドライン等｣といいます。）は、それぞれ本規約の一部を構成および補完するものとします。
                    All the guidelines, FAQ, and cautions (private information) indicated by our company complement and make up main
                    contract.
                    2. ガイドライン等と本規約との間に矛盾する条項が存在する場合は、本規約の条項が優先されるものとします。
                    When there is contradiction of terms in main contract and other contract, terms in main contract will be
                    prioritized.
                    3. 本規約、ガイドライン等および本サービスの提供に際して使用される「時間」は、すべて日本時間（GMT＋9：00）を基準とします。
                    Time standard used in main contract, and guidelines all follow Japan standard time (GMT + 9:00).
                    第１５条（本サービスの一時中断、終了） Temporary shutdown and Termination of service
                    1.
                    当社は、天変地異、ハッキング攻撃、通信障害等の当社の制御の範囲を超える事態が発生した場合、本サービスのシステム、サーバー等の保守等をする場合または当社が必要であると判断した場合、本サービスおよび登録事業者向けサービスの一部または全部を一時的に中断することができます。なお、当社は、これらの事態の継続によりサービスの継続的な提供が困難だと判断した場合、第２項の規定に係わらず、登録事業者に対して何ら通知をせずに本サービスおよび登録事業者向けサービスを終了できるものとします。
                    Our company can shutdown partial or all the services provided due to natural disasters, cyber-attack, and
                    communication disturbances that are beyond control for protection of service systems and servers. If these
                    circumstances continue and our company find it difficult to continue providing the service, we can shutdown
                    service without notifying registered applicant despite of terms in Section 2.
                    2. 当社は、登録事業者に対して、１ヶ月前までに通知を行うことにより本サービスおよび登録事業者向けサービスの一部または全部を終了することができます。なお、同通知は、第１２条の手段によってなされるものとします。
                    Our company can notify registered applicant before 1 month before shutting down partial or all the services.
                    Notification procedure will be follow stepss written in Section 12.
                    3. 当社は、本サービスおよび登録事業者向けサービスの一時中断または終了によって直接または間接に生じる登録事業者または第三者の損害等に対して、一切の責任を負わないものとします。
                    Our company bears no responsibility over direct or indirect losses of registered applicant and third party by
                    temporary shutdown or termination of services

                    第１６条（損害賠償）Compensation for damages
                    1.
                    登録事業者は、登録事業者向けサービスの利用に関連して自らの故意または過失により当社、エンドユーザーおよび第三者に損害を生じせしめた場合、同損害のすべてを賠償する義務を負うものとし、いかなる場合も当社を免責するものとします。
                    Registered applicant, through this service, is obliged to compensate for all the damages brought to our company,
                    end user, and third party that are caused by their actions.


                    2.
                    当社は、登録事業者が登録事業者向けサービスの利用に際して損害をこうむった場合、当該損害が当社の責に帰すべき事由に起因して現実に発生した、直接かつ通常の範囲である場合に限り、同損害を賠償するものとします。ただし、この場合でも、登録事業者による当社に対する損害賠償限度額は、いかなる場合も1)当該損害が生じたエンドユーザーとの間の問い合わせ等に生じた利用料金額に相当する金額を超えないものとします。
                    Our company will pay for damages if those damages originate from faults of our company. If our company is
                    compensating for the damages, the amount of compensation may not necessarily be equivalent to loss caused
                    between end user and registered applicant.

                    第１７条（合意管轄・準拠法） Jurisdiction by agreement, Governing law
                    1. 本規約に関連して、登録事業者と当社との間で紛争が生じた場合、双方は、ともに誠意をもって協議するものとします。
                    Regarding the terms, if there is some sort of trouble between registered applicant and our company, both sides
                    must comply in sincere manner to resolve the trouble.
                    2. 双方は、前項により協議をしても解決しない場合、東京地方裁判所において第一審の裁判を行うことに予め同意するものとします。
                    If both sides do not come to agreement from trouble mentioned in condition 1), we shall agree to take this
                    matter to first trial in Tokyo District Court.
                    3. 登録事業者は、本規約およびガイドライン等が日本国法に準拠して解釈されることに予め同意するものとします。
                    Registered applicant is to be aware that terms and guidelines are explained in conformity to Constitution of
                    Japan.
                    4. 登録事業者とエンドユーザーとの間の何らかの契約に係るトラブル、紛争等は、すべて当事者間で解決されるべきものとし、当社は、双方に関する情報の提供以外の義務等を負わないものとします。
                    Any trouble that occurs between registered applicant and our company must not involve any others and be resolved
                    between two sides only, and our company shall bear no responsibility over this matter other than providing
                    applicable information.

                    第１８条（本規約の変更） Modification of terms.
                    1. 当社は、登録事業者に対して、事前に何らの通知を行うことなく、本規約を変更できるものとします。
                    Our company can change terms of conditions without notifying registered applicant beforehand.
                    2.
                    登録事業者は、登録事業者向けサービスを利用するごとに本規約を確認するものとします。当社は、本規約の変更後、登録事業者が登録事業者向けサービスを利用したことをもって、登録事業者が本規約の変更を確認し、同意したものとみなすことができます。
                    Registered applicant should check terms of condition every time they use the services of our company. Our
                    company shall assume that registered applicant has agreed to modified terms when they use the provided services
                    after the modification.

                </p>
            </div>
            <p><a class="has-text-white text-white" style="text-decoration:underline;" href="{{ path('fos_user_registration_check_email') }}">Go back</a></p>
        </div>
    </div>
{% endblock %}