{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <section class="section notification">
        <div class="verification-wrapper">
            <form action="{{ path('verify_confirm_request') }}" method="post" autocomplete="off" enctype="multipart/form-data">
                <h4 class="subtitle is-4 m-t-b-10 f-w-b has-text-info">{{ verificationType.verificationTypeText }}</h4>
                <div class="columns">
                    <div class="column">
                        <p class="is-size-6">Please upload your <span style="color: #f53939;">CAC</span> document</p>
                    </div>
                    <div class="column">
                        <p style="color: #c55a11; " class="is-size-6">
                            <a href="{{ verificationType.verificationTypeDocument }}" download="LiteUp">
                                <span><i class="fas fa-gift"></i></span>
                                Benefits of verified account
                            </a>
                        </p>
                    </div>
                </div>
                <div class="document-file-content">
                    <div class="file m-t-b-10 is-centered is-boxed">
                        <label class="file-label">
                            <input class="file-input verify-document-file" type="file" name="document" required>
                            <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                   <span class="file-label">
                                   Upload Document
                                 </span>
                            </span>
                            <span class="file-name" id="verify-docs-file-name">
                              ....
                            </span>
                        </label>
                    </div>
                </div>
                <div class="column has-text-centered">
                    <button type="submit" class="button is-success is-size-5">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                        <span>Confirm</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}