{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <section class="section notification">
        <div class="column has-text-centered">
            <img src="{{ asset('images/favicon/check-mark.svg') }}" width="100" alt="Verify image">
            <h4 class="subtitle is-4">Verification request</h4>
        </div>
        <div class="column has-text-centered">
            <a href="{{ path('corporate_verification') }}" class="button is-info">
                <span class="icon  has-text-weight-bold is-marginless">
                    <i class="fas fa-certificate"></i>
                </span>
                Corporate verification
            </a>
            <a href="{{ path('individual_verification') }}" class="button is-primary">
                <span class="icon  has-text-weight-bold is-marginless">
                    <i class="fas fa-certificate"></i>
                </span>
                Individual verification
            </a>
        </div>
    </section>
{% endblock %}