<li class="dropdown">
    <a href="{{ path('admin_app_verifyrequest_list') }}" aria-expanded="false">
        <i class="fa fa-bell fa-fw {{ (count > 0)? "f-sz" }}" style="color:{{ (count > 0)? "#3c8dbc" }};"></i>
        {% if count > 0 %}
            <span class="admin-verify-count">
                {{ (count > 99)? "99+": count }}
            </span>
        {% endif %}
    </a>
</li>