{% extends 'base.html.twig' %}

{% block body %}
{% include 'parts/nav.html.twig' %}
    <section>
        <img src="{{ asset('images/bg-image/liteup-uni.jpeg') }}" alt="Liteup-univercity" width="100%">
    </section>
{% include 'parts/footer.html.twig' %}
{% endblock %}

