{% extends 'base.html.twig' %}

{% block body %}

    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img src="{{ asset('images/liteup-logo-white.png') }}" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                           <span class="navbar-item">
                <a class="button is-white is-outlined" href="#">
                  <span class="icon">
                    <i class="fa fa-home"></i>
                  </span>
                  <span>Home</span>
                </a>
              </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                        LINKING THE DREAM
                    </h1>
                    <a class="button is-info" href="#{#{ path('') }#}">
                                    <span class="icon is-small">
                                      <i class="fas fa-user"></i>
                                    </span>
                        <span>Sign up</span>
                    </a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bulma.js') }}"></script>
{% endblock %}