{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li class="is-active"><a href="#" aria-current="page">Home</a></li>
        </ul>
    </nav>

    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="title has-text-primary"><i class="fas fa-tachometer-alt"></i> Dashboard</div>
            </div>
        </div>
    </div>
{% endblock %}