{% extends 'base.html.twig' %}

{% block body %}
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Houses</a></li>
        </ul>
    </nav>

    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="title">Houses
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column">
            {{ form_start(form, {'method': 'post', 'action': path('edit_agency', {"id":house.id})}) }}

            {{ form_widget(form) }}

            <input class="button is-success" type="submit" id="_submit" name="_submit" value="Update"/>
            {{ form_end(form) }}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}